* {
    box-sizing: border-box;
    transition: .3s;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Open Sans';
    line-height: 1.5;
}

/* TOP HEADER */

#header {
    height: 100vh;
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header h1,
#header p {
    margin: 0;
}

/* NAVBAR */

nav {
    width: 300px;
    min-height: 100vh;
    position: sticky;
    top: 0;
    background: linear-gradient(to bottom, #022d69, #efb6ff);
    color: #eee;
    border-right: 3px solid #ccc;
    padding: 30px;
    transition: none;
}

nav .top {
    height: 75px;
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    transition: none;
}

nav .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    margin-right: 20px;
    cursor: pointer;
}

nav .menu-toggle span {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #aaa;
}

nav .menu-toggle span.active:nth-child(1) {
    top: 9px;
    transform: rotate(-135deg);
}
nav .menu-toggle span.active:nth-child(2) {
    opacity: 0;
}
nav .menu-toggle span.active:nth-child(3) {
    top: -9px;
    transform: rotate(-45deg);
}

nav ul {
    padding: 0;
    margin: 0;
    margin-top: 30px;
}

nav li {
    margin: 10px 0;
    list-style-type: circle;
    list-style-position: inside;
    cursor: pointer;
}

nav li:first-child {
    margin-top: 0;
}

a {
    color: #eee;
    text-decoration: none;
}

.title {
    /* font-weight: 600; */
    margin-top: 20px;
}

.ident {
    margin-left: 25px;
}

/* navbar active elements */

nav.active {
    width: 90px;
}

nav .top.active {
    border-bottom: none;
}

nav.active header {
    display: none;
}

nav.active ul {
    display: none;
}

nav.active .menu-toggle {
    margin: 0;
}

nav.active ~ main {
    padding-left: calc(30px + 90px);
}

/* MAIN */

main {
    width: 100%;
    margin-top: -100vh;
    padding: 30px;
    padding-left: calc(30px + 300px);
    color: #333;
    transition: none;
}

header {
    font-size: 28px;
    font-weight: 400;
}

section {
    margin-top: 30px;
}

section:first-child {
    margin: 0;
}

section ul {
    margin-left: 30px;
}

section p,
section li {
    font-size: 14px;
}

/* RESPONSIVENESS */

@media (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
    }

    nav {
        position: relative;
        top: 0;
        width: 100% !important;
        min-height: 400px;
        border: 0;
        border-bottom: 3px solid #ccc;
    }

    nav.active {
        min-height: 90px;
    }
    
    nav .top.active {
        height: 45px;
        padding: 0;
    }
    
    nav ul {
        max-height: calc(400px - 60px - 75px - 30px - 1px);
        overflow: auto;
        margin-bottom: 3px;
        padding-left: 1px;
    }

    main {
        margin: 0;
        padding: 30px !important;
    }
}